# Import and initialize

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta
import random

#Initialize Faker
fake = Faker('en_US')
Faker.seed(42)
np.random.seed(42)
random.seed(42)

num_records = 13820

# Attribute Definitions, Mappings, and Probabilities

## Location

In [2]:
#Define employee locations
#Cities
states_cities = {
    'New York': ['New York City', 'Buffalo', 'Rochester'],
    'Virginia': ['Virginia Beach', 'Norfolk', 'Richmond'],
    'Florida': ['Miami', 'Orlando', 'Tampa'],
    'Illinois': ['Chicago', 'Aurora', 'Naperville'],
    'Pennsylvania': ['Philadelphia', 'Pittsburgh', 'Allentown'],
    'Ohio': ['Columbus', 'Cleveland', 'Cincinnati'],
    'North Carolina': ['Charlotte', 'Raleigh', 'Greensboro'],
    'Michigan': ['Detroit', 'Grand Rapids', 'Warren']
}

#States
states = list(states_cities.keys())

#Probabilities for the number of employees working in each state
state_prob = [0.7, 0.02, 0.01, 0.03, 0.05, 0.03, 0.05, 0.11]

assigned_states = np.random.choice(states, size=num_records, p=state_prob)
assigned_cities = [np.random.choice(states_cities[state]) for state in assigned_states]

## Departments and job titles

In [3]:
#Define departments and job titles
departments = ['HR', 'IT', 'Sales', 'Marketing', 'Finance', 'Operations', 'Customer Service']
#Probabilities for the number of employees working in each dept
departments_prob = [0.02, 0.15, 0.21, 0.08, 0.05, 0.30, 0.19] 

#Department/job title mapping
jobtitles = {
    'HR': ['HR Manager', 'HR Coordinator', 'Recruiter', 'HR Assistant'],
    'IT': ['IT Manager', 'Software Developer', 'System Administrator', 'IT Support Specialist'],
    'Sales': ['Sales Manager', 'Sales Consultant', 'Sales Specialist', 'Sales Representative'],
    'Marketing': ['Marketing Manager', 'SEO Specialist', 'Content Creator', 'Marketing Coordinator'],
    'Finance': ['Finance Manager', 'Accountant', 'Financial Analyst', 'Accounts Payable Specialist'],
    'Operations': ['Operations Manager', 'Operations Analyst', 'Logistics Coordinator', 'Inventory Specialist'],
    'Customer Service': ['Customer Service Manager', 'Customer Service Representative', 'Support Specialist', 'Help Desk Technician']
}
#Probabilities for the number of employees having each job title
jobtitles_prob = {
    'HR': [0.03, 0.3, 0.47, 0.2],
    'IT': [0.02, 0.47, 0.2, 0.31],
    'Sales': [0.03, 0.25, 0.32, 0.4],
    'Marketing': [0.04, 0.25, 0.41, 0.3],
    'Finance': [0.03, 0.37, 0.4, 0.2],
    'Operations': [0.02, 0.2, 0.4, 0.38],
    'Customer Service': [0.04, 0.3, 0.38, 0.28]
}

## Education levels

In [4]:
#Education levels (highest education completed): 'High School', 'Bachelor', 'Master', 'PhD']
#Map education levels to job titles
education_mapping = {
    'HR Manager': ['Master', 'PhD'],
    'HR Coordinator': ['Bachelor', 'Master'],
    'Recruiter': ['High School', 'Bachelor'],
    'HR Assistant': ["High School", "Bachelor"],
    'IT Manager': ["PhD", "Master"],
    'Software Developer': ["Bachelor", "Master"],
    'System Administrator': ["Bachelor", "Master"],
    'IT Support Specialist': ["High School", "Bachelor"],
    'Marketing Coordinator': ["Bachelor"],
    'Finance Manager': ["Master", "PhD"],
    'Accountant': ["Bachelor"],
    'Logistics Coordinator': ["Bachelor"],
    'Sales Manager': ["Master", "PhD"],
    'Sales Consultant': ["Bachelor", "Master", "PhD"], 'Sales Specialist': ["Bachelor", "Master", "PhD"], 'Sales Representative': ["Bachelor"], 'Marketing Manager': ["Bachelor", "Master", "PhD"], 'SEO Specialist': ["High School", "Bachelor"],
    'Content Creator': ["High School", "Bachelor"],
    'Financial Analyst': ["Bachelor", "Master", "PhD"],
    'Accounts Payable Specialist': ["Bachelor"],
    'Operations Manager': ["Bachelor", "Master"],
    'Operations Analyst': ["Bachelor", "Master"],
    'Inventory Specialist': ["High School", "Bachelor"],
    'Customer Service Manager': ["Bachelor", "Master", "PhD"],
    'Customer Service Representative': ["High School", "Bachelor"],
    'Support Specialist': ["High School", "Bachelor"],
    'Customer Success Manager': ["Bachelor", "Master", "PhD"],
    'Help Desk Technician': ["High School", "Bachelor"]
}

## Base salary

In [5]:
#Function to define base salary for each job title
def get_base_salary(department, job_title):
    salary_dict = {
        'HR': {
            'HR Manager': np.random.randint(60000, 90000), #
            'HR Coordinator': np.random.randint(50000, 60000),
            'Recruiter': np.random.randint(50000, 70000), 
            'HR Assistant': np.random.randint(50000, 60000)
        },
        'IT': {
            'IT Manager': np.random.randint(80000, 120000), 
            'Software Developer': np.random.randint(70000, 95000), 
            'System Administrator': np.random.randint(60000, 90000), 
            'IT Support Specialist': np.random.randint(50000, 60000)
        },
        'Sales': {
            'Sales Manager': np.random.randint(70000, 110000), 
            'Sales Consultant': np.random.randint(60000, 90000), 
            'Sales Specialist': np.random.randint(50000, 80000), 
            'Sales Representative': np.random.randint(50000, 70000)
        },
        'Marketing': {
            'Marketing Manager': np.random.randint(70000, 100000), 
            'SEO Specialist': np.random.randint(50000, 80000), 
            'Content Creator': np.random.randint(50000, 60000), 
            'Marketing Coordinator': np.random.randint(50000, 70000)
        },
        'Finance': {
            'Finance Manager': np.random.randint(80000, 120000), 
            'Accountant': np.random.randint(50000, 80000), 
            'Financial Analyst': np.random.randint(60000, 90000),
            'Accounts Payable Specialist': np.random.randint(50000, 60000)
        },
        'Operations': {
            'Operations Manager': np.random.randint(70000, 100000), 
            'Operations Analyst': np.random.randint(50000, 80000),
            'Logistics Coordinator': np.random.randint(50000, 60000), 
            'Inventory Specialist': np.random.randint(50000, 60000)
        },
        'Customer Service': {
            'Customer Service Manager': np.random.randint(60000, 90000), 
            'Customer Service Representative': np.random.randint(50000, 60000),
            'Support Specialist': np.random.randint(50000, 60000),
            'Help Desk Technician': np.random.randint(50000, 80000)
        }
    }
    return salary_dict[department][job_title]

## Performance rating

In [6]:
#Possible performance ratings
performance = ['Excellent', 'Good', 'Satisfactory', 'Needs Improvement']

#Probabilities that an employee can have each performance rating
performance_prob = [0.12, 0.5, 0.3, 0.08]

## Gender

In [7]:
#Genders
genders = ['Female', 'Male']

#Probabilities that an employee can be each gender
gender_prob = [0.46, 0.54]

## Overtime

In [8]:
#Did employee have overtime?
overtimes = ['Yes', 'No']

#Probabilities that an employee had overtime
overtime_prob = [0.3, 0.7]

# Generate hire date

## Yearly hiring distribution

In [9]:
#Define probability weights for the number of employees hired each year
year_weights = {
    2015: 5, 
    2016: 8, 
    2017: 17, 
    2018: 9, 
    2019: 10, 
    2020: 11, 
    2021: 5, 
    2022: 12, 
    2023: 14, 
    2024: 9 
}

## Function to generate hiredate

In [10]:
#Function to generate hire date based on custom probabilities
def generate_hiredate(year_weights):
    year = random.choices (list(year_weights.keys()), weights=list(year_weights.values()))[0] 
    month = random.randint(1, 12)
    day = random.randint(1, 28) # Assuming all months have 28 days for simplicity
    return fake.date_time_between(start_date=datetime(year, 1, 1), end_date=datetime(year, 12, 31))

# Generate dataset with initial fields

## Create and populate list

In [11]:
#Generate dataset with initial fields
data = []

for _ in range(num_records):
    employee_id = f"00-{random.randint(10000000, 99999999)}"
    first_name = fake.first_name()
    last_name = fake.last_name()
    gender = np.random.choice(genders, p=gender_prob)
    state = np.random.choice(states, p=state_prob)
    city = np.random.choice(states_cities[state])
    hiredate = generate_hiredate(year_weights)
    department = np.random.choice(departments, p=departments_prob)
    job_title = np.random.choice(jobtitles[department], p=jobtitles_prob[department])
    education_level = np.random.choice(education_mapping[job_title])
    performance_rating = np.random.choice(performance, p=performance_prob)
    overtime = np.random.choice(overtimes, p=overtime_prob)
    salary = get_base_salary(department, job_title)
    
    data.append([
        employee_id,
        first_name,
        last_name,
        gender,
        state, 
        city,
        hiredate,
        department,
        job_title,
        education_level,
        salary,
        performance_rating,
        overtime
    ])

## Create dataframe from list

In [12]:
#Create and populate dataframe with initial fields
columns = [
    'employee_id',
    'first_name',
    'last_name',
    'gender',
    'state',
    'city',
    'hiredate',
    'department',
    'job_title',
    'education_level',
    'salary',
    'performance_rating',
    'overtime'
    ]
    
df = pd.DataFrame(data, columns=columns)

# Generate birthdate

## Function to generate birthdate

In [13]:
#Funciton to generate birthdate
def generate_birthdate(row):
    age_distribution = {
        'under_25': 0.11,
        '25_34': 0.25,
        '35_44': 0.31,
        '45_54': 0.24,
        'over_55': 0.09
    }
    age_groups = list(age_distribution.keys())
    age_probs = list(age_distribution.values())
    age_group = np.random.choice(age_groups, p=age_probs)
    
    if any('Manager' in title for title in row['job_title']):
        age = np.random.randint(30, 65)
    elif row['education_level'] == 'PhD':
        age = np.random.randint(27, 65)
    elif age_group == 'under_25':
        age = np.random.randint(20, 25)
    elif age_group == '25_34':
        age = np.random.randint(25, 35)
    elif age_group == '35_44':
        age = np.random.randint(35, 45)
    elif age_group == '45_54':
        age = np.random.randint(45, 55)
    else:
        age = np.random.randint(56, 65)
    
    #Use Faker to generate a birthdate within the calculated birth year
    birthdate = fake.date_of_birth(minimum_age=age, maximum_age=age)
    
    #Adjust birthdate if it results in age less than 18 upon hire
    hire_date = row['hiredate'].date()
    if (hire_date - birthdate).days < 365.25 * 18:
        if birthdate.month < hire_date.month:
            birthdate = birthdate.replace(year=hire_date.year - 18)
        else:
            birthdate = birthdate.replace(year=hire_date.year - 19)
        
    return birthdate

## Add birthdate to dataframe

In [14]:
#Add birthdates to dataframe
df['birthdate'] = df.apply(generate_birthdate, axis=1)

# Generate termination date

## Yearly termination distribution

In [15]:
#Define probability weights for the number of employees terminated each year
year_weights = {
    2015: 5,
    2016: 7, 
    2017: 10,
    2018: 12,
    2019: 9,
    2020: 10,
    2021: 20,
    2022: 10,
    2023: 7,
    2024: 10
}

## Calculate total number of terminated employees

In [16]:
#Calculate total number of terminated employees
total_employees = num_records
termination_percentage = 0.112  # 11.2%
total_terminated = int(total_employees * termination_percentage)

## Generate termination dates based on yearly distribution

In [17]:
#Generate termination dates based on yearly distribution 
termination_dates = []
for year, weight in year_weights.items():
    num_terminations = int(total_terminated * (weight / 100))
    termination_dates.extend([year] * num_terminations)

## Randomly shuffle termination dates

In [18]:
#Randomly shuffle termination dates 
random.shuffle(termination_dates)

## Assign termination dates

In [19]:
#Assign termination dates to a subset of employees 
terminated_indices = df.index[:total_terminated]
for i, year in enumerate(termination_dates[:total_terminated]):
    df.at[terminated_indices[i], 'termdate'] = datetime(year, 1, 1) + timedelta(days=random.randint(0, 365))

## Assign None to termdate for employees who are not terminated

In [20]:
#Assign None to termdate for employees who are not terminated 
df['termdate'] = df.apply(lambda row: row['hiredate'] + timedelta(days=180) if row['termdate'] and row['termdate'] < row['hiredate'] + timedelta(days=180) else row['termdate'], axis=1)

# Generate adjusted salary

## Define salary multiplier based on education level

In [21]:
education_multiplier = {
    'High School': {'Male': 1.03, 'Female': 1.0},
    'Bachelor': {'Male': 1.115, 'Female': 1.0},
    'Master': {'Male': 1.0, 'Female': 1.07},
    'PhD': {'Male': 1.0, 'Female': 1.17}
}

## Calculate employee age

In [22]:
#Function to calculate age from birthdate 
def calculate_age(birthdate):
    today = pd.Timestamp('today')
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

## Generate adjusted salary based on base salarly, age, and education

In [23]:
#Function to calcualte the adjusted salary 
def calculate_adjusted_salary(row):
    base_salary = row['salary']
    gender = row['gender']
    education = row['education_level']
    age = calculate_age(row['birthdate'])
    
    #Apply education multiplier
    multiplier = education_multiplier.get(education, {}).get(gender, 1.0)
    adjusted_salary = base_salary * multiplier
    
    #Apply age increment (between 0.1% and 0.3% per year of age)
    age_increment = 1 + np.random.uniform(0.001, 0.003) * age
    adjusted_salary *= age_increment
    
    #Ensure adjusted salary is not lower than base salary 
    adjusted_salary = max(adjusted_salary, base_salary)
    
    #Round to nearest integer 
    return round(adjusted_salary)

# Generate reason for termination

In [24]:
#Function to generate termination reason based on predefined correlations (gender, job title, overtime, performance rating)
def generate_term_reason(row):
    gender = row['gender']
    department = row['department']
    job_title = row['job_title']
    education_level = row['education_level']
    performance_rating = row['performance_rating']
    overtime = row['overtime']
    salary = row['salary']
    
    #Job title
    if 'Manager' in job_title and gender == 'Female':
        term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.7, 0.3])
    else:
        term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.3, 0.7])
        
    #Overtime
    if overtime == 'Yes':
         term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.7, 0.3])
    else:
        term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.3, 0.7])
        
    #Performance rating
    if performance_rating == 'Needs Improvement':
         term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.7, 0.3])
    else:
        term_reason = np.random.choice(['Voluntary', 'Involuntary'], p=[0.3, 0.7])
    
    return term_reason

# Add salary and termination reason to the dataframe

In [25]:
df['salary'] = df.apply(calculate_adjusted_salary, axis=1)
df['term_reason'] = df.apply(generate_term_reason, axis=1)

# Convert dates to datetime

In [26]:
#Convert 'hiredate', 'birthdate', and 'termdate' to datetime 
df['hiredate'] = pd.to_datetime(df['hiredate']).dt.date
df['birthdate'] = pd.to_datetime(df['birthdate']).dt.date
df['termdate'] = pd.to_datetime(df['termdate']).dt.date

# Save to CSV

In [27]:
#Save to CSV
df.to_csv('employee-dataset.csv', index=False)

print("Done")

Done